--find-links https://storage.googleapis.com/torch-cpu/torch_stable.html
torch
torchvision

gradio
scikit-learn
numpy
PyMuPDF
python-docx
sentence-transformers
transformers
wordcloud
matplotlib